.cardTextGrey {
  color: #999999;
}

.DivClassControlsRest {
  display: flex;
  position: relative;
  right: 50px;
  float: right;
  bottom: 12px;
}

.ImgCarouselWidth {
  width: 45px;
}

.ImgWidthStar {
  width: 15px;
  position: relative;
  bottom: 2px;
}

.BoxLink {
  padding: 0px;
}

.card-img-top {
  object-fit: cover !important;
}
