.ProfileCardBody {
  height: 155px;
}
.FloatRightCheckbox {
  float: right;
}

.FloatRightCheckbox input[type='checkbox'] {
  accent-color: red;
}
.cardProfilelink {
  color: #e70f0f !important;
  background: transparent;
  border: none;
}
.btnradius {
  border-radius: 0px;
}
.btn.focus,
.btn:focus {
  box-shadow: none;
}
.IconAddress {
  width: 20px;
  text-align: center;
}
.ContentLeft {
  text-align: left !important;
}
.selectoption:hover {
  background: black;
}
.ModalHomeFooterProfile {
  border-top: 0px !important;
  padding-top: 0px;
  padding-bottom: 35px;
}
.cardProfilelink:hover {
  background: transparent;
}

.ScrollbarHidden {
  height: 590px;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.ScrollbarHidden::-webkit-scrollbar {
  display: none;
}

.ProfileCardBody .card-link:disabled {
  background: transparent;
  color: unset;
}
