.selectoption:hover {
  background: black;
}
.ProfileCardBody {
  height: 175px;
  padding: 1.45rem;
}
.IconAddress {
  width: 20px;
  text-align: center;
}
.selectoption:hover {
  background: black;
}

.ProfileCardBody .card-subtitle {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
